.temporary_block1 {
  .out();
  width: 100%;
  height: 28px;
  background-color: @border-color;
  &-abs {
    position: absolute;
  }
}

body {
  .out();
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  color: @basic-color;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: @mobile-wrap;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .wrapper {
    width: @tablet-wrap;
  }

  /*******************************************************/
  .temporary_block1 {
    height: 50px;
    &-abs {
      width: 100vw;
      height: 69px;
    }
  }
  /*******************************************************/
}

@media (min-width: @desktop-width) {
  .wrapper {
    width: @desktop-wrap;
  }

  /*******************************************************/
  .temporary_block1 {
    height: 96px;
    &-abs {
      height: 103px;
    }
    &-2 {
      height: 82px;
    }
  }
  /*******************************************************/

}


.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  display: none;
}

@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
}
