@transparent: rgba(0, 0, 0, 0.3);
@white-transparent: rgba(255, 255, 255, 0.3);
@basic-color: #283645;
@basic-transparent: rgba(40, 54, 69, 0.3);
@pink-color: #d22856;
@pink-transparent: rgba(210, 40, 86, 0.3);
@green-color: #2aab6d;
@green-color-hover: #1c9b5e;
@border-color: #e5e5e5;
@bg-lite: #f2f2f2;
@bg-dark: #1d2631;
@tablet-width: 660px;
@desktop-width: 960px;
@mobile-wrap: 280px;
@tablet-wrap: 620px;
@desktop-wrap: 940px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
