.advertisement {
  display: none;
}

@media (min-width: @tablet-width) {
  .advertisement {
    display: block;
    padding: 95px 0 100px 0;
    background-color: white;
  }

  .advertisement__wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 0 20px 0 310px;
  }

  .advertisement__picture {
    position: absolute;
    top: -35px;
    left: 0;
    width: 238px;
    height: 276px;
    background-color: @pink-color;
    border-radius: 169px;
  }

  .advertisement__block {
    text-align: left;
  }

  .advertisement__title {
    .local-reset();
    padding-bottom: 12px;

    color: black;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
  }

  .advertisement__text {
    .local-reset();
    padding-bottom: 10px;
  }

  .advertisement__link {
    .local-reset();
    color: @pink-color;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .advertisement {
    padding: 90px 0 115px 0;
    background-color: @bg-lite;
  }

  .advertisement__wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 0 0 0 365px;
  }

  .advertisement__picture {
    top: -90px;
    left: 0;
    width: 298px;
    height: 345px;
    background-color: @pink-color;
    border-radius: 169px;
  }

  .advertisement__title {
    padding-bottom: 22px;
  }

  .advertisement__text {
    font-size: 18px;
    padding-bottom: 33px;
    line-height: 1.66;
  }

  .advertisement__link {
    font-size: 18px;
    line-height: 1.66;
  }
}
