.button {
  display: block;

  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;

  padding: 14px 0;
  width: 280px;
  height: 55px;

  box-sizing: border-box;

  border: 3px solid white;
  border-radius: 27.5px;
  /*calc(275px * 0.5);*/
  background-color: transparent;

  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .button {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    width: 300px;

    font-size: 21px;
  }
}
