.contact {
  .list-reset();
}

.contact__name,
.contact__info {
  .local-reset();
}

.contact__item:not(:last-child) {
  padding-bottom: 26px;
}

.contact__item:nth-child(2) {
  padding-bottom: 25px;
}

.contact__name {
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 0;
}

.contact__info {
  color: @pink-color;
  font-size: 24px;
  line-height: 1.2;
  font-weight: lighter;
  letter-spacing: 0;
}

.contact__link {
  position: relative;
  color: inherit;
}

.contact__link:hover,
.contact__link:focus {
  color: @basic-color;
    &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 2px;
    background-color: @basic-color;
  }
}

.contact__link:active {
  color: #bec2c7;
  &::after {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
  }

  .contact__item:not(:last-child) {
    padding-bottom: 0;
  }

  .contact__item {
    width: 300px;
    margin-bottom: 50px;
  }

  .contact__item:nth-child(2n+1) {
    margin-right: auto;
  }

  .contact__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  .contact__name {
    margin-bottom: 3px;
  }
}

@media (min-width: @desktop-width) {
  .contact {
    justify-content: space-between;
  }

  .contact__item:nth-child(n) {
    margin-right: 0;
  }

  .contact__item:nth-child(1) {
    order: 1;
  }

  .contact__item:nth-child(2) {
    order: 3;
  }

  .contact__item:nth-child(3) {
    order: 2;
  }

  .contact__name {
    padding-bottom: 23px;
  }
}
