.download-app {
  background-color: @bg-dark;
  padding-bottom: 30px;
}

.download-app__picture {
  width: 100%;
  min-height: 395px;
  background-color: @basic-color;
/*  background:
    url("../img/iphone-hand-mobile@1x.png") 0% 100% no-repeat,
    url("../img/bg-back-mobile@1x.jpg") bottom no-repeat;*/
}

.download-app__slogan {
  display: none;
}

.download-app__button {
  margin: 28px auto;
}

.download-app__market-list {
  .list-reset();
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  width: 205px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.download-app__item {
  display: block;
  width: 47px;
  height: 56px;
}

.download-app__item--itunes {
  background: url("../img/logo-apple.svg") 50% 100% no-repeat;
}

.download-app__item--google-play {
  background: url("../img/logo-android.svg") 50% 100% no-repeat;
}

.download-app__item--microsoft-store {
  background: url("../img/logo-microsoft.svg") 50% 100% no-repeat;
}

.download-app__text {
  margin: 0;
  padding: 0 18px;

  color: white;
}

@media (min-width: @tablet-width) {
  .download-app {
    box-sizing: border-box;
    min-height: 620px;
    background-color: transparent;
  }

  .download-app__picture {
    min-height: 620px;
    background-color: @bg-dark;
  }

  .download-app__slogan {
    .local-reset;
    display: block;
    padding: 0 45px;

    color: white;
    font-size: 40px;
    line-height: 1.2;
  }


  .download-app__block {
    .out();
    width: 300px;
    margin: -525px 340px 0 20px;
  }

  .download-app__button {
    margin-bottom: 45px;
  }

  .download-app__market-list {
    margin-bottom: 35px;
  }

  .download-app__text {
    font-size: 18px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    min-height: 853px;
  }

  .download-app__picture {
    min-height: 853px;
  }

  .download-app__slogan {
    padding: 0;

    font-size: 50px;
  }

  .download-app__block {
    .out();
    width: 300px;
    margin: -632px 770px 0 130px;
  }
}
