.feature {
  background-color: @bg-lite;
}

.feature__intro-container {
  background-color: white;
  padding: 40px 0 35px 0;
}

.feature__intro-text {
  .local-reset();
  font-size: 24px;
  line-height: 1.2;
  padding-bottom: 35px;
}

.feature__intro-text:last-child {
  padding-bottom: 0;
}

.feature__list {
  .list-reset();
  padding: 50px 0 41px 0;
}

.feature__item:not(:last-child) {
  padding-bottom: 32px;
}

.feature__title {
  .local-reset();
  padding-bottom: 12px;

  color: black;
  font-size: 18px;
  font-weight: bold;
}

.feature__text {
  .local-reset();
  color: @basic-color;
}

.feature__image-block {
  /*background-color: @bg-lite;*/
  height: 320px;
  line-height: 0;
}

@media (min-width: @tablet-width) {
  .feature {
    overflow: hidden;
  }

  .feature__intro-container {
    background-color: white;
    padding: 48px 0;
  }

  .feature__intro-text {
    font-size: 40px;
  }

  .feature__intro-text:not(:last-child) {
    padding-bottom: 0;
  }

  .feature__list-wrapper {
    position: relative;
  }

  .feature__list {
    padding-left: 310px;
    padding-top: 23px;
  }

  .feature__item:not(:last-child) {
    padding-bottom: 34px;
  }

  .feature__title {
    text-align: left;
  }

  .feature__text {
    text-align: left;
  }

  .feature__image-block {
    .local-reset();
    position: absolute;
    top: -50px;
    left: 0;
    width: 268px;
    height: 484px;

    /*background-color: @pink-color;*/
  }

  .feature__image-block img {
    width: 100%;
    height: auto;
  }

}

@media (min-width: @desktop-width) {
  .feature__intro-container {
    background-color: white;
    padding: 65px 0 80px 0;
  }

  .feature__intro-text {
    font-size: 50px;
  }

  .feature__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    width: 940px;
    padding: 260px 0 70px 0;
  }

  .feature__item {
    position: relative;
    width: 300px;
    box-sizing: border-box;
    padding: 0 30px;
  }

  .feature__item:not(:last-child) {
    padding-bottom: 0;
  }

  .feature__item:before {
    content: "";
    display: block;
    position: absolute;
    top: -358px;
    left: 0;

    width: 300px;
    height: 300px;

    background-color: @pink-color;
  }


  .feature__title {
    padding-bottom: 25px;

    text-align: center;
    font-size: 30px;
    line-height: 1;
  }

  .feature__text {
    text-align: center;
    font-size: 18px;
    line-height: 1.66;
  }

  .feature__image-block {
    display: none;
  }
}
