.filter {
  background-color: @bg-lite;
  padding: 20px 0;
}

.filter__wrapper {
  box-sizing: border-box;
}

.filter__image-upload-block {
  width: 280px;
  height: 374px;
  margin-bottom: 44px;
}

.filter__image-input,
.filter__option-input {
  display: none;
}

.filter__uploader {
  .local-reset();
  display: block;
  cursor: pointer;
}

.filter__image {
  display: block;
}

.filter__options {
  .list-reset();
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 208px;
  margin-bottom: 40px;
}

.filter__name {
  display: block;
  width: 48px;
  height: 44px;
  cursor: pointer;
}

.filter__name--crop {
  background: url("../img/icon-editor-crop.svg") 0 50% no-repeat;
}

.filter__name--fill {
  background: url("../img/icon-editor-fill.svg") 0 50% no-repeat;
}

.filter__name--contrast {
  background: url("../img/icon-editor-contrast.svg") 50% 50% no-repeat;
}

.filter__range {
  position: relative;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.filter__scale {
  height: 2px;
  width: 240px;
  margin: 0 auto;
  background-color: black;
}

.filter__handle {
  position: absolute;
  top: -7px;
  left: 193px;
  height: 10px;
  width: 10px;
  background-color: white;
  border: 2px solid @pink-color;
  border-radius: 50%;

  cursor: pointer;
}

.filter__buttons {
  padding-top: 25px;
  padding-bottom: 10px;
  border-top: 1px solid @border-color;
}

.filter__button {
  margin: 12px auto;
}

@media (min-width: @tablet-width) {
  .filter {
    padding-top: 58px;
    padding-bottom: 55px;
  }

  .filter__wrapper {
    display: flex;
    flex-flow: row nowrap;
  }


  .filter__image-upload-block {
    .local-reset();
    width: 300px;
    height: 400px;
    margin-right: 45px;
  }

  /*---------------------------*/
  .filter__image {
    width: 300px;
    height: 400px;
  }

  .filter__control-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    width: 275px;
    box-sizing: border-box;
  }

  .filter__options {
    .local-reset();
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    width: 100%;
    box-sizing: border-box;
  }

  .filter__options li {
  /*  .out;*/
    height: 55px;
    box-sizing: border-box;
  /*  padding: 4px 0;*/
    margin-bottom: 17px;
    text-align: left;

    border-bottom: 1px solid @border-color;
  }

  .filter__name {
    background-size: 50%;
    display: inline-block;
  }

  .filter__range {
    display: none;
  }

  .filter__buttons {
    border-top: 0;
    padding: 0;
  }

  .filter__button {
    .local-reset();
    width: 260px;
    margin-left: 2px;
    margin-right: 13px;
    margin-bottom: 24px;
  }

  .filter__button:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .filter {
    .local-reset();
    background-color: white;
  }

  .filter__wrapper {
    padding: 55px 60px 58px 80px;

    background-color: @bg-lite;
  }

  .filter__image-upload-block {
    margin-right: 93px;
  }

  .filter__control-panel {
    width: 410px;
    box-sizing: border-box;
  }

  .filter__name {
    background-size: initial;
  }

  .filter__buttons {
    .local-reset();
    border-top: 0;
  }

  .filter__button {
    display: inline-block;
    width: 185px;
    margin: 0;
  }

  .filter__button:not(:last-child) {
    margin-right: 30px;
  }
}
