.footer-minor {
  background: white;
  padding: 40px 0;
}

.footer-minor__logo-pink {
  margin-top: 0;
  margin-bottom: 40px;
}

.footer-minor__link .glasses {
  display: inline-block;
}

.footer-minor__link .glasses-broken,
.footer-minor__link .stars {
  display: none;
}

.footer-minor__link {
  display: block;
  margin: 0 auto;
  width: 147px;
  height: 40px;
}

.footer-minor__link svg {
  pointer-events: none;
}

.footer-minor__link .glasses,
.footer-minor__link .glasses-broken {
  fill: @pink-color;
}

.footer-minor__link .pink,
.footer-minor__link .stars {
  fill: @basic-color;
}

.footer-minor__link:hover .pink,
.footer-minor__link:focus .pink {
  fill: @pink-color;
}

.footer-minor__link:active .pink,
.footer-minor__link:active .stars {
  fill: @basic-transparent;
}

.footer-minor__link:active .glasses-broken {
  fill: @pink-transparent;
}

.footer-minor__social-list {
  .list-reset();
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 178px;
  margin-bottom: 35px;
}


.footer-minor__social {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid @bg-lite;
  border-radius: 50%;
}

.footer-minor__social svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: @pink-color;

  pointer-events: none;
}

.footer-minor__social:hover,
.footer-minor__social:focus {
  border-color: @basic-color;
}

.footer-minor__social:active {
  border-color: @basic-color;
  opacity: 0.3;
}


.footer-minor__copyright {
  .local-reset();
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer-minor__built {
  .local-reset();
  font-weight: lighter;
  margin-right: 15px;
}

.footer-minor__academy-link .footer-minor__academy-logo {
  display: block;
  width: 27px;
  height: 34px;
  margin-top: 5px;
  fill: @pink-color;

  pointer-events: none;
}

.footer-minor__academy-link:hover .footer-minor__academy-logo,
.footer-minor__academy-link:focus .footer-minor__academy-logo {
  fill: @basic-color;
}

.footer-minor__academy-link:active .footer-minor__academy-logo {
  fill: @basic-transparent;
}

@media (min-width: @tablet-width) {
  .footer-minor {
    .local-reset();
  }

  .footer-minor__wrapper {
    height: 127px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }


  .footer-minor__logo-pink,
  .footer-minor__social-list,
  .footer-minor__copyright {
    .local-reset();
  }

  .footer-minor__logo-pink {
    margin-bottom: 10px;
  }

  .footer-minor__link .glasses {
    display: none;
  }

  .footer-minor__link .glasses-broken,
  .footer-minor__link .stars {
    display: inline-block;
  }

  .footer-minor__copyright {
    margin-top: 5px;
  }

  .footer-minor__social-list {
    margin-top: 3px;
    margin-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .footer-minor__wrapper {
    height: 197px;
  }

  .footer-minor__social-list {
    margin-right: 0;
    margin-left: 14px;
  }

  .footer-minor__copyright {
  }

  .footer-minor__built {
    font-size: 18px;
    margin-bottom: 3px;
  }
}
