.footer-minor {
  background: white;
  padding: 40px;
}

.footer-minor__logo-pink {
  margin: 0 auto;
  margin-bottom: 40px;
}

.footer-minor__social-list {
  .list-reset();
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 178px;
  margin-bottom: 40px;
}


.footer-minor__social {
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid @bg-lite;
  border-radius: 50%;
}

.footer-minor__twitter {
  background: url("../img/icon-twitter.svg") 50% 50% no-repeat;
}

.footer-minor__facebook {
  background: url("../img/icon-facebook.svg") 50% 50% no-repeat;
}

.footer-minor__youtube {
  background: url("../img/icon-youtube.svg") 50% 50% no-repeat;
}

.footer-minor__copyright {
  .local-reset();
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer-minor__built {
  .local-reset();
  font-weight: lighter;
  margin-right: 15px;
}

.footer-minor__academy-logo {
  display: block;
}
