.footer-minor {
  background: white;
  padding: 40px 0;
}

.footer-minor__logo-pink {
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer-minor__link {
  display: block;
  width: 147px;
  height: 40px;
}

.footer-minor__link .glasses {
  fill: @pink-color;
}

.footer-minor__link .pink {
  fill: @basic-color;
}

.footer-minor__link:hover .pink,
.footer-minor__link:focus .pink {
  fill: @pink-color;
}

.footer-minor__link:active .pink {
  fill: @basic-color;
}

.footer-minor__link:active {
  opacity: 0.3;
}

.footer-minor__social-list {
  .list-reset();
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 178px;
  margin-bottom: 35px;
}


.footer-minor__social {
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid @bg-lite;
  border-radius: 50%;
}

.footer-minor__twitter {
  background: url("../img/icon-twitter.svg") 50% 50% no-repeat;
}

.footer-minor__facebook {
  background: url("../img/icon-facebook.svg") 50% 50% no-repeat;
}

.footer-minor__youtube {
  background: url("../img/icon-youtube.svg") 50% 50% no-repeat;
}

.footer-minor__copyright {
  .local-reset();
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer-minor__built {
  .local-reset();
  font-weight: lighter;
  margin-right: 15px;
}

.footer-minor__academy-logo {
  display: block;
  margin-top: 5px;
}

@media (min-width: @tablet-width) {
  .footer-minor {
    .local-reset();
  }

  .footer-minor__wrapper {
    height: 127px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }


  .footer-minor__logo-pink,
  .footer-minor__social-list,
  .footer-minor__copyright {
    .local-reset();
  }

  .footer-minor__logo-pink {
    margin-bottom: 10px;
  }

  .footer-minor__copyright {
    margin-top: 0;
  }

  .footer-minor__social-list {
    margin-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .footer-minor__wrapper {
    height: 197px;
  }

  .footer-minor__social-list {
    margin-right: 0;
    margin-left: 14px;
  }

  .footer-minor__copyright {
  }

  .footer-minor__built {
    font-size: 18px;
    margin-bottom: 3px;
  }
}
