.form-button {
  display: block;

  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  text-align: center;

  padding: 18px;
  width: 280px;
  box-sizing: border-box;

  border: 3px solid @green-color;
  border-radius: 3px;
  background-color: @green-color;

  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .form-button {
    width: 300px;
  }
}
