.form__color-block {
  &--white {
    background-color: white;
  }
  &--grey {
    background-color: @bg-lite;
  }
}

.form__main-wrapper {
  width: auto;
  margin: 0;
}

.form__personal {
  .local-reset();
  border: 0;
  padding-bottom: 42px;
}

.form__field-block {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-bottom: 17px;
}

.form__field-block:last-child {
  margin-bottom: 0;
}

.form__label {
  .local-reset();
  line-height: 30px;
  text-transform: uppercase;
  color: @pink-color;
  margin-left: 22px;
  margin-bottom: 6px;
}

.form__input {
  min-height: 62px;
}

.form__input,
.form__emotional-text {
  .local-reset();
  width: 100%;
  box-sizing: border-box;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @border-color;
  border-radius: 2px;
  &::placeholder {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: @basic-color;
  }
}

.form__emotional-text {
  height: 200px;
  resize: none;
}

.form__input:hover,
.form__emotional-text:hover {
  border-color: @basic-color;
}

.form__input:active,
.form__input:focus,
.form__emotional-text:active,
.form__emotional-text:focus {
  border-color: @pink-color;
}

.form__achievements,
.form__application {
  .local-reset();
  border: 0;
}

.form__legend {
  .local-reset();
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  color: @pink-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  &--emotions {
    padding-top: 42px;
    padding-bottom: 17px;
  }
}

.form__emotions .form__legend {
  background-color: white;
}

.form__list-checkbox {
  .local-reset();
  text-align: left;
  padding-bottom: 43px;
}

.form__item-checkbox {
  margin-bottom: 53px;
}

.form__column-checkbox:last-child .form__item-checkbox:last-child {
  margin-bottom: 0;
}

.form__list-radio-button {
  .list-reset();
  text-align: left;
  padding-bottom: 43px;
}

.form__item-radio-button {
  margin-bottom: 45px;
}

.form__item-radio-button:last-child {
  margin-bottom: 0;
}

.form__input-checkbox,
.form__input-radio-button {
  display: none;
}

.form__label-checkbox,
.form__label-radio-button {
  .local-reset();
  display: block;
  position: relative;
  padding-left: 70px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @basic-color;
}

.form__label-checkbox::before,
.form__label-radio-button::before {
  position: absolute;
  left: 0;
  top: -4px;
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  border: 2px solid @border-color;
  border-radius: 2px;
  background-color: white;
}

.form__input-checkbox:hover + .form__label-checkbox::before,
.form__input-radio-button:hover + .form__label-radio-button::before {
  border-color: @basic-color;
}

.form__input-checkbox:focus + .form__label-checkbox::before,
.form__input-checkbox:active + .form__label-checkbox::before,
.form__input-radio-button:focus + .form__label-radio-button::before,
.form__input-radio-button:active + .form__label-radio-button::before {
  border-color: @pink-color;
}

.form__input-checkbox:checked + .form__label-checkbox::before {
  background-image: url("../img/icon-yes.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.form__contacts {
  .local-reset();
  border: 0;
  padding-top: 33px;
  padding-bottom: 40px;
}

.form__contacts .form__legend {
  display: none;
}

.form__label-radio-button::before {
  border-radius: 50%;
}

.form__input-radio-button:checked + .form__label-radio-button::before {
  background-image: url("../img/icon-pink-point.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.form__emotions {
  .local-reset();
  border: 0;
  margin-bottom: 40px;
}

.form__submit-button {
  margin: 0 auto;
  margin-bottom: 35px;
}

.form__footnote-text {
  .local-reset();
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form__footnote {
  color: @pink-color;
}

.form__footnote-plus {
  display: none;
}

@media (min-width: @tablet-width) {
  .form__color-block {
    &--white {
      background-color: white;
    }
    &--grey {
      background-color: white;
    }
  }

  .form__main-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: @tablet-wrap;
    margin: 0 auto;
  }

  .form__wrapper {
    width: auto;
    margin: 0;
  }

  .form__personal-container {
    order: 1;
  }

  .form__application-container {
    order: 2;
  }

  .form__contacts-container {
    order: 3;
  }

  .form__achievements-container {
    order: 4;
  }

  .form__emotions-container {
    order: 5;
  }

  .form__footer-container {
    order: 6;
  }

  .form__personal {
    padding: 0;
    padding-bottom: 65px;
  }

  .form__field-block {
    flex-flow: row nowrap;
    align-items: baseline;
    margin-bottom: 52px;
  }

  .form__label {
    .local-reset();
    margin-right: 20px;
  }

  .form__application,
  .form__achievements,
  .form__emotions {
    border: 2px solid @border-color;
    border-radius: 2px;
    background-color: white;
    margin-bottom: 65px;
  }

  .contest-page__section fieldset {
    position: relative;
  }

  .form__legend {
    .local-reset();
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: none;
    padding: 0 25px;
    background-color: white;
    white-space: nowrap;
  }

  .form__list-radio-button {
    padding: 60px 58px;
  }

  .form__item-radio-button {
    margin-bottom: 43px;
  }

  .form__list-checkbox {
    padding: 55px 60px;
  }

  .form__item-checkbox {
    margin-bottom: 52px;
  }

  .form__label-checkbox,
  .form__label-radio-button {
    padding-left: 60px;
  }

  .form__contacts .form__legend {
    display: block;
    padding: 0 25px;
    background-color: white;
  }

  .form__contacts {
    border: 2px solid @border-color;
    border-radius: 2px;
    background-color: white;
    padding: 0 60px;
    padding-top: 45px;
    padding-bottom: 25px;
    margin-bottom: 65px;
  }

  .form__contacts .form__field-block {
    position: relative;
    flex-flow: column wrap;
    align-items: flex-start;
    margin-bottom: 29px;
  }

  .form__contacts .form__field-block:last-child {
    margin-bottom: 0;
  }

  .form__contacts .form__field-block::after {
    content: "";
    position: absolute;
    display: block;
    top: 2px;
    right: 2px;
    width: 58px;
    height: 58px;
    background-color: @border-color;
  }

  .form__field-block--phone::after {
    background: url("../img/icon-phone.svg") center no-repeat;
  }

  .form__field-block--mail::after {
    background: url("../img/icon-mail.svg") center no-repeat;
  }

  .form__contacts .form__label {
    order: 2;
    padding-left: 20px;
    margin: 0;
  }

  .form__contacts .form__input {
    order: 1;
    padding-left: 17px;
    margin-bottom: 12px;
  }

  .form__emotions {
    .local-reset();
    padding: 0 59px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 67px;
  }

  .form__emotional-text {
    height: 190px;
  }

  .form__footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .form__submit-button {
    .local-reset();
  }

  .form__footnote-text {
    .local-reset();
    padding-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .form__main-wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
    width: @desktop-wrap;
  }

  .form__personal,
  .form__application {
    width: 435px;
    box-sizing: border-box;
  }

  .form__application {
    margin-top: -7px;
  }

  .form__list-radio-button {
    padding-left: 73px;
  }

  .form__contacts,
  .form__achievements,
  .form__emotions,
  .form__footer {
    width: @desktop-wrap;
    box-sizing: border-box;
  }

  .form__field-block {
    margin-bottom: 53px;
  }

  .form__legend {
    padding: 0 30px;
  }

  .form__contacts {
    padding-bottom: 12px;
  }

  .form__contacts-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .form__contacts .form__field-block {
    .local-reset();
    width: 374px;
  }

  .form__contacts .form__input {
    margin-bottom: 10px;
  }

  .form__list-checkbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 58px;
  }

  .form__item-checkbox:last-child {
    margin-bottom: 0;
  }

  .form__label-checkbox {
    max-width: 200px;
  }

  .form__emotions {
    padding-top: 42px;
    padding-bottom: 35px;
    margin-bottom: 63px;
  }

  .form__emotional-text {
    height: 130px;
  }

  .form__footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .form__footnote-plus {
    display: inline;
    font-style: normal;
  }
}
