.info-window {
  background-color: white;
  box-shadow: 0 7px 15px rgba(0 ,0 , 0,0.15);
  padding: 0 20px;
  padding-top: 43px;
  padding-bottom: 50px;
}

.info-window__title {
  .local-reset();
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}

.info-window__text {
  .local-reset();
  margin-bottom: 40px;
}

.info-window__button {
  margin: 0 auto;
}
