.main-footer {
  position: relative;
}

.main-footer__block {
  padding: 43px 0 38px 0;
  background-color: white;
}

.main-footer__text {
  .local-reset();
  padding-bottom: 35px;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
}

.main-footer__map {
  position: relative;
  width: 320px;
  height: 205px;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: center top;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 100%;
  }
}

.main-footer__map-marker {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url("../img/icon-map-marker.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .main-footer__block {
    padding: 0;
    padding-bottom: 25px;
  }

  .main-footer__text {
    padding-top: 45px;
    padding-bottom: 45px;

    font-size: 40px;
  }

  .main-footer__map {
    width: 100%;
    max-width: 700px;
    height: 375px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center -345px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  .main-footer__map-marker {
    top: 200px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__block {
    padding: 0;
  }

  .main-footer__text {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 50px;
  }

  .main-footer__map {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: center -280px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  .main-footer__map-marker {
    top: 260px;
  }
}
