.page-header {
  position: relative;
  width: 100%;
  z-index: 12;
}

.page-header__top,
.page-header__menu {
  background-color: @basic-color;
}

.page-header__main-wrapper {
  width: auto;
}

.page-header__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 69px;
  padding: 22px 0  24px;
}

.page-header__top {
  border-bottom: 1px solid #000000;
}

.page-header__logo[href] svg{
  pointer-events: none;
}

.page-header__logo .glasses,
.page-header__logo .glasses-broken,
.page-header__logo .pink,
.page-header__logo .pink-mobile {
  fill: white;
}

.page-header__logo .stars {
  fill: @pink-color;
}

.page-header__logo[href]:hover .glasses,
.page-header__logo[href]:hover .glasses-broken,
.page-header__logo[href]:hover .pink,
.page-header__logo[href]:hover .pink-mobile,
.page-header__logo[href]:focus .glasses,
.page-header__logo[href]:focus .glasses-broken,
.page-header__logo[href]:focus .pink,
.page-header__logo[href]:focus .pink-mobile {
  fill: @pink-color;
}

.page-header__logo[href]:active .glasses,
.page-header__logo[href]:active .glasses-broken,
.page-header__logo[href]:active .pink,
.page-header__logo[href]:active .pink-mobile {
  fill: white;
}

.page-header__logo[href]:active .glasses-broken,
.page-header__logo[href]:active .pink {
  fill: @white-transparent;
}

.page-header__logo[href]:active .stars {
  fill: @pink-transparent;
}

.page-header__logo {
  display: block;
  width: 74px;
  height: 23px;
  overflow: hidden;
}

.page-header__logo .glasses,
.page-header__logo .glasses-broken,
.page-header__logo .pink,
.page-header__logo .stars {
  display: none;
}

.page-header__toggle {
  .local-reset();
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: none;
  background: url("../img/icon-menu-cross.svg") 50% 50% no-repeat;
  cursor: pointer;
}

.page-header__toggle:hover,
.page-header__toggle:focus {
  background: url("../img/icon-menu-cross--pink.svg") 50% 50% no-repeat;
}

.page-header__toggle:active {
  opacity: 0.3;
}

.page-header--closed-menu .page-header__toggle {
  width: 40px;
  height: 24px;
  background: url("../img/icon-menu-burger.svg") 50% 50% no-repeat;
}

.page-header--closed-menu .page-header__toggle:hover,
.page-header--closed-menu .page-header__toggle:focus {
  background: url("../img/icon-menu-burger--pink.svg") 50% 50% no-repeat;
}

.page-header--closed-menu .page-header__top {
  background-color: @transparent;
  border: 0;
}

.page-header--closed-menu .page-header__menu {
  position: absolute;
  visibility: hidden;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    min-height: 109px;
  }

  .page-header__logo {
    width: 147px;
    height: 41px;
    margin-top: -12px;
  }

  .page-header__logo .glasses,
  .page-header__logo .pink {
    display: inline-block;
  }

  .page-header__logo .pink-mobile {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: absolute;
    min-height: 110px;
    background-color: @transparent;
  }

  .page-header__main-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 110px;
    width: @desktop-wrap;
    margin: 0 auto;
    padding: 22px 0;
  }

  .page-header__wrapper {
    .local-reset();
    width: auto;
    min-height: 0;
  }

  .page-header__top {
    .local-reset;
    display: block;
    min-height: 0;
    border-bottom: none;
    background-color: transparent;
  }

  .page-header__menu {
    background-color: transparent;
  }

  .page-header--closed-menu .page-header__menu {
    position: static;
    visibility: visible;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo .glasses {
    display: none;
  }

  .page-header__logo .glasses-broken,
  .page-header__logo .stars {
    display: inline-block;
  }
}
