.page-header {
  background-color: @basic-dark-color;
}

.page-header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 70px;
  padding: 22px 20px;
  border-bottom: 1px solid #000000;
}

.page-header__toggle {
  width: 24px;
  height: 23px;
  background-color: @basic-dark-color;
  background-image: url("../img/icon-menu-cross.svg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}
