.photo-page__title {
  .local-reset();
  background: url("../img/bg-back-mobile@1x.jpg") 50% 0% no-repeat;
  padding: 90px 50px;
  min-height: 238px;
  box-sizing: border-box;

  color: white;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
}

.photo-page__text {
  .local-reset();
  padding: 50px 43px;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

@media (min-width: @tablet-width) {
  .photo-page__title {
    padding: 160px 50px;
    min-height: 440px;

    font-size: 50px;
  }

  .photo-page__text {
    padding: 94px 65px;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .photo-page__title {
    padding: 181px 50px 90px 50px;
    min-height: 394px;

    font-size: 50px;
    background-color: @basic-color;
  }

  .photo-page__text {
    padding: 94px 300px;

    font-size: 18px;
  }

}
