.picture-of-day {
  position: relative;
}

.picture-of-day__title {
  .local-reset();
  position: absolute;
  top: 0;
  left: 50%;
  padding: 6px 19px;
  background-color: @pink-color;

  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  z-index: 8;
}

@media (min-width: @tablet-width) {
  .picture-of-day__title {
    top: 55px;
    transform: translateX(170px);
  }
}

@media (min-width: @desktop-width) {
  .picture-of-day__title {
    top: 54px;
    transform: translateX(330px);
  }
}
