.picture-of-day {
  position: relative;
}

.picture-of-day__title {
  .local-reset();
  position: absolute;
  top: 0;
  left: 50%;
  padding: 6px 20px;
  background-color: @pink-color;

  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
}
