.review {
  line-height: 30px;
  padding-bottom: 35px;
  margin-top: -43px;
}

.review__item {
  .local-reset();
  width: 100%;
  min-height: 260px;
  box-sizing: border-box;
  padding: 35px 20px 35px 20px;

  background-color: white;
}

.review__author {
  display: block;
  .local-reset();
  padding-bottom: 12px;

  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: black;
}

.review__text {
  .local-reset();
  color: @basic-color;
}

@media (min-width: @tablet-width) {
  .review {
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
}
