.site-list {
  .list-reset();
}

.site-list__item {
  text-align: center;
  min-height: 64px;
  box-sizing: border-box;
  padding-top: 19px;

  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
}

.site-list__item a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
}

.site-list__item a[href] {
  &:hover,
  &:focus {
    color: @pink-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
/*
.site-list__item a:not([href]) {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -12px;
  }
}*/

@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
  .site-list {
    .local-reset();
    width: 620px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .site-list__item {
    .local-reset();
    min-height: 0;
    border: none;
  }

  .site-list__item a {
    text-transform: none;
    line-height: 1;
    font-weight: normal;
  }
}
