.tariff {
  position: relative;
  background-color: @bg-lite;
  padding-top: 92px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.tariff::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  top: 0;
  left: 0;
  background-color: @bg-lite;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.tariff__wrapper {
  width: 320px;
}

.tariff__list {
  padding-bottom: 43px;
}

.tariff__item {
  .local-reset();
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
  border-left: 1px solid @border-color;
  border-right: 1px solid @border-color;
  width: 280px;
  box-sizing: border-box;
  transform: translateX(-260px);
}

.tariff__name-table {
  display: none;
}

.tariff__rate {
  display: block;
  width: 280px;
  height: 98px;
  box-sizing: border-box;
  padding: 17px;
  background-color: @basic-color;
  vertical-align: top;
  border-left: 1px solid @border-color;
  border-right: 1px solid @border-color;
}

.tariff__link {
  display: block;
}

.tariff__name,
.tariff__price {
  display: block;
  color: white;
  line-height: 30px;
}

.tariff__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
}

.tariff__price {
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 0;
}

.tariff__feature {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 61px;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: white;
  border-left: 1px solid @border-color;
  border-right: 1px solid @border-color;
  border-bottom: 2px solid @border-color;
  text-align: left;
}

.tariff__feature-text {
  display: block;
}

.tariff__feature::after {
  display: block;
  content: "";
  width: 31px;
  height: 26px;
  margin-left: auto;
}

.tariff__feature-avaliable::after {
  background-image: url("../img/icon-yes-big.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.tariff__feature-not-avaliable::after {
  background-image: url("../img/icon-no.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.tariff__item--hit {
  .tariff__rate {
    position: relative;
    overflow: hidden;
  }

  .tariff__hit {
    .local-reset();
    position: absolute;
    top: 10px;
    left: -26px;
    display: block;
    width: 104px;
    height: 31px;
    color: white;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    background-image: url("../img/bg-hit-45g.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform: rotate(-45deg);
  }
}

@media (min-width: @tablet-width) {
  .tariff {
    padding-top: 88px;
    padding-bottom: 68px;
  }

  .tariff::before {
    height: 50px;
  }

  .tariff__wrapper {
    width: @tablet-wrap;
  }

  .tariff__list {
    overflow: visible;
    justify-content: center;
    padding-bottom: 0;
  }

  .tariff__item {
    width: 155px;
    transform: translateX(0);
  }

  .tariff__rate {
    width: 155px;
    height: 78px;
    padding: 14px;
    padding-bottom: 8px;
  }

  .tariff__name {
    font-size: 16px;
    line-height: 30px;
  }

  .tariff__price {
    font-size: 18px;
    line-height: 30px;
  }

  .tariff__feature {
    width: 155px;
    height: 48px;
    justify-content: center;
  }

  .tariff__feature::after {
    margin-left: 0;
  }

  .tariff__feature-text {
    display: none;
  }

  .tariff__name-table {
    display: block;
  }

  .tariff__name-table .tariff__rate {
    background-color: transparent;
    border-left: 0;
    border-right: 0;
  }

  .tariff__name-table .tariff__feature {
    justify-content: flex-start;
    padding: 0 17px;
  }

  .tariff__name-table .tariff__feature::after {
    display: none;
  }

  .tariff__name-table  .tariff__feature-text {
    display: block;
    text-transform: none;
  }

  .tariff__controls {
    display: none;
  }

  .tariff__item--hit .tariff__hit {
    top: 4px;
    left: -32px;
  }
}

@media (min-width: @desktop-width) {
  .tariff {
    padding-top: 142px;
    padding-bottom: 95px;
  }

  .tariff::before {
    height: 65px;
  }

  .tariff__wrapper {
    width: @desktop-wrap;
  }

  .tariff__list {
    padding-bottom: 0;
  }

  .tariff__item {
    width: 235px;
  }

  .tariff__rate {
    width: 235px;
    height: 98px;
    padding-top: 16px;
  }

  .tariff__name {
    font-size: 18px;
    padding-bottom: 2px;
  }

  .tariff__price {
    font-size: 24px;
  }

  .tariff__feature {
    width: 235px;
    height: 60px;
  }

  .tariff__feature-text {
    font-size: 18px;
  }

  .tariff__name-table .tariff__feature {
    padding: 0 24px;
  }

  .tariff__item--hit .tariff__hit {
    top: 10px;
    left: -26px;
  }
}
