/*.upload-photo {
  background-color: @bg-lite;
}*/

.upload-photo__text {
  .local-reset();
  min-height: 153px;
  box-sizing: border-box;
  padding: 23px 0;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
/*
  background-color: white;*/
}

@media (min-width: @tablet-width) {
  .upload-photo__text {
    padding: 67px 0;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .upload-photo__text {
    padding: 57px 0;
  }
}
